<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/index.css}"/>
    </head>
</head>
<head th:fragment="js">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            ntegrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:fragment="navbar(params)" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><img th:src="@{img/logo.png}"></a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='pengguna'} ? 'active'" th:href="@{/}">
                    Pengguna<span class="sr-only"></span>
                </a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='pegawai'} ? 'active'" th:href="@{/}">
                    Pegawai<span class="sr-only"></span>
                </a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='item'} ? 'active'" th:href="@{/}">
                    Item<span class="sr-only"></span>
                </a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='delivery'} ? 'active'" th:href="@{/}">
                    Delivery<span class="sr-only"></span>
                </a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='mesin'} ? 'active'" th:href="@{/}">
                    Mesin<span class="sr-only"></span>
                </a></li>
            </ul>

            <ul class="navbar-nav pull-right">
                <a class="nav-item nav-link active btn btn-primary" style="background-color: #CF1F42;padding: 8px 24px;" th:href="@{/logout}">Log Out</a>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>