<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/index.css}"/>
    </head>
</head>
<head th:fragment="js">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            ntegrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:fragment="navbar(params)" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><img th:src="@{img/logo.png}"></a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')"><a type="submit" class="nav-link font-weight-bold" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pengguna </a>
                    <ul class="dropdown-menu" >
                        <li class="dropdown-item" ><a type="submit" class="nav-link text-dark" th:href="@{/user/addUser}"> Tambah Pengguna </a></li>
                    </ul>
                </a></li>
                <li sec:authorize="hasAnyAuthority('ADMIN', 'FACTORY_MANAGER')" class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='pegawai'} ? 'active'" th:href="@{/user/viewall}">
                    Pegawai<span class="sr-only"></span>
                </a></li>

                <li class="nav-item dropdown"><a type="submit" class="nav-link font-weight-bold" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Item</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a type="submit" class="nav-link text-dark" th:href="@{/item/viewall}">Daftar Item</a></li>
                        <li sec:authorize="hasAnyAuthority('FACTORY_MANAGER')" class="dropdown-item"><a type="submit" class="nav-link text-dark" th:href="@{/item/propose}">Propose Item</a></li>
                    </ul>

                <li class="nav-item" sec:authorize="hasAnyAuthority('STAFF_GUDANG', 'STAFF_OPERASIONAL')"><a class="nav-link font-weight-bold" th:classappend="${params=='request-update-item'} ? 'active'" th:href="@{/request-update-item/viewall}">
                    Request Update Item<span class="sr-only"></span>
                </a></li>

                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='produksi'} ? 'active'" th:href="@{/produksi/viewall}">
                    Produksi<span class="sr-only"></span>
                </a></li>
                
                <li sec:authorize="hasAnyAuthority('STAFF_OPERASIONAL', 'STAFF_KURIR')" class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='delivery'} ? 'active'" th:href="@{/delivery/viewall}">
                    Delivery<span class="sr-only"></span>
                </a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:classappend="${params=='mesin'} ? 'active'" th:href="@{/mesin/list-mesin}">
                    Mesin<span class="sr-only"></span>
                </a></li>
            </ul>

            <ul class="navbar-nav pull-right">
                <a class="nav-item nav-link active btn btn-primary" style="background-color: #CF1F42;padding: 8px 24px;" th:href="@{/logout}">Log Out</a>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>