<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(item)"></nav>

<div class="container">
    <div class="m-4">
        <h1 th:text="'Item berhasil ditambahkan.'"></h1>
        <h4 th:text="'Detail Item:'"></h4>
        <table class="table">
            <tbody>
            <tr>
                <td>Nama</td>
                <td th:text="${item.nama}"></td>
            </tr>
            <tr>
                <td>Harga</td>
                <td th:text="${item.harga}"></td>
            </tr>
            <tr>
                <td>Stok</td>
                <td th:text="${item.stok}"></td>
            </tr>
            <tr>
                <td>Kategori</td>
                <td th:text="${item.kategori}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-secondary" href="/item/propose">Kembali</a>
    </div>
</div>

</body>
</html>